@charset "UTF-8";

/*=========================================================
	Footer
=========================================================*/
.site-footer{
	padding:55px 0 90px;
	text-align:center;
	border-top:solid  1px #E0E0E0;
	margin-top:180px;
	position:relative;
}

.home .site-footer{
	border-top:none;
	margin-top:0;
}

.footer-container{
	max-width: 1614px;
	margin:0 auto;
	position: relative;
	padding:0 80px;
}

.footer-container:after{
	content: "";
	display: table;
	clear: both;
}



/* FooterMenu
=========================================================*/
.FooterMenu{
	margin-bottom:32px;
}

.FooterMenu .menu-wrapper{
	font-size:0;
	line-height:0;
	margin:0 -9px;
}

.FooterMenu .menu-wrapper:after{
	content:"";
	display:table;
	clear:both;
}

.FooterMenu .menu-item{
	display:inline-block;
	padding:0 9px;
	vertical-align:middle;
}

.FooterMenu .menu-item > a{
	font-size:17px;
	line-height:1.4em;
	color:#000;
	display:block;
	padding-bottom:5px;
	position:relative;
}

.FooterMenu .menu-item > a:after{
	content:"";
	width:100%;
	height:3px;
	/* background-image:url(../../images/bg/bg_footer_arrow.png); */
	background-size:100% 3px;
	display:block;
	opacity:0;
	position:absolute;
	bottom:0;
	left:0;
}

.FooterMenu .menu-item.current_page_item > a:after{
	opacity:1;
}

/* FooterLogo
=========================================================*/
.FooterLogo{
	display:block;
	width:104px;
	height:44px;
	/* background-image:url(../../images/logo/logo.svg); */
	background-size:104px 44px;
	margin:0 auto 20px;
}

/* FooterInfo
=========================================================*/
.FooterInfo{
	font-size:0;
	line-height:0;
	overflow:hidden;
	margin:-1px -12px;
}

.FooterInfo-item{
	font-size:16px;
	line-height:1.4em;
	color:#000;
	padding:1px 12px;
	display:inline-block;
	position:relative;
}

.FooterInfo-item:after{
	content:"";
	width:1px;
	height:14px;
	background-color:#000;
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
}

.FooterInfo-item.no-Bullet:after{
	display:none;
}

.FooterInfo-link{
	color:#000;
}

/* FooterSns
=========================================================*/
.FooterSns{
	margin-top:22px;
	text-align:center;
	font-size:0;
	line-height:0;
}

.FooterSns-item{
	display:inline-block;
	vertical-align:middle;
	padding:0 9px;
}

.FooterSns-link{
	display:block;
	width:28px;
	height:28px;
	background-size:28px 28px;
}

/* .FooterSns-link.facebook{
	background-image:url(../../images/icon/ico_ft_facebook.svg);
}

.FooterSns-link.youtube{
	background-image:url(../../images/icon/ico_ft_youtube.svg);
}

.FooterSns-link.blog{
	background-image:url(../../images/icon/ico_ft_blog.svg);
}

.FooterSns-link.instargram{
	background-image:url(../../images/icon/ico_ft_instargram.svg);
} */

@media screen and (max-width: 1920px) and (min-width: 1025px) {
	.FooterSns{
		margin-top:1.1458vw;
	}

	.FooterSns-item{
		padding:0 0.46875vw;
	}

	.FooterSns-link{
		width:1.4583333vw;
		height:1.4583333vw;
		background-size:1.4583333vw 1.4583333vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.FooterSns{
		margin-top:2.1458vw;
	}

	.FooterSns-item{
		padding:0 0.86875vw;
	}

	.FooterSns-link{
		width:2.8583333vw;
		height:2.8583333vw;
		background-size:2.8583333vw 2.8583333vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.FooterSns{
		margin-top:4.1458vw;
	}

	.FooterSns-item{
		padding:0 1.66875vw;
	}

	.FooterSns-link{
		width:5.6583333vw;
		height:5.6583333vw;
		background-size:5.6583333vw 5.6583333vw;
	}
}


/* FooterCopy
=========================================================*/
.FooterCopy{
	margin-top:34px;
	font-size:14px;
	line-height:1.4em;
	color:#000;
	font-weight:300;
}

@media screen and (max-width: 1920px) and (min-width: 1025px) {
	.site-footer{
		padding:2.8645vw 0 4.6875vw;
		margin-top:9.375vw;
	}

	.footer-container{
		max-width: 84.0625vw;
		padding:0 4.16666vw;
	}

	.FooterMenu{
		margin-bottom:1.6666vw;
	}

	.FooterMenu .menu-wrapper{
		margin:0 -0.46875vw;
	}

	.FooterMenu .menu-item{
		padding:0 0.46875vw;
	}

	.FooterMenu .menu-item > a{
		font-size:0.8854vw;
	}
	
	.FooterLogo{
		width:5.41666vw;
		height:2.29166vw;
		background-size:5.41666vw 2.29166vw;
		margin:0 auto 1.04166vw;
	}
	
	.FooterInfo{
		margin:-1px -0.625vw;
	}

	.FooterInfo-item{
		font-size:0.8333vw;
		padding:1px 0.625vw;
	}

	.FooterInfo-item:after{
		height:0.7291vw;
	}
	
	.FooterCopy{
		margin-top:1.770833vw;
		font-size:0.7291vw;
	}
}

@media screen and (max-width: 1420px) and (min-width: 1025px) {
	.FooterCopy{
		font-size:10px;
	}
}

@media screen and (max-width: 1210px) and (min-width: 1025px) {
	.FooterInfo-item{
		font-size:10px;
	}
	
	.FooterInfo-item:after{
		height:9px;
	}
	
	.FooterMenu .menu-item > a{
		font-size:11px;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.site-footer{
		padding:4.8645vw 0 6.6875vw;
		margin-top:12.375vw;
	}

	.footer-container{
		max-width: 100%;
		padding: 0 5.20833vw;
	}

	.FooterMenu{
		margin-bottom:2.6666vw;
	}

	.FooterMenu .menu-wrapper{
		margin:0 -0.86875vw;
	}

	.FooterMenu .menu-item{
		padding:0 0.86875vw;
	}

	.FooterMenu .menu-item > a{
		font-size:1.58854vw;
	}
	
	.FooterLogo{
		width: 8.6666vw;
		height: 3.66666vw;
		background-size: 8.6666vw 3.66666vw;
		margin:0 auto 2.34166vw;
	}
	
	.FooterInfo{
		margin:-1px -1.225vw;
	}

	.FooterInfo-item{
		font-size:1.36333vw;
		padding:1px 1.225vw;
	}

	.FooterInfo-item:after{
		height:1.22291vw;
	}
	
	.FooterCopy{
		margin-top:2.770833vw;
		font-size:1.3291vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.site-footer{
		padding:10.8645vw 0 13.6875vw;
		margin-top:25.375vw;
	}

	.footer-container{
		max-width: 100%;
		padding: 0 6.25vw;
	}

	.FooterMenu{
		margin-bottom:5.6666vw;
	}

	.FooterMenu .menu-wrapper{
		margin:0 -1.586875vw;
	}

	.FooterMenu .menu-item{
		padding:0 1.586875vw;
	}

	.FooterMenu .menu-item > a{
		font-size:3.68854vw;
	}
	
	.FooterLogo{
		width: 13.541vw;
		height: 5.7291vw;
		background-size: 13.541vw 5.7291vw;
		margin:0 auto 4.34166vw;
	}
	
	.FooterInfo{
		margin:-1px -1.225vw;
	}

	.FooterInfo-item{
		font-size:3.26333vw;
		padding:1px 1.225vw;
	}

	.FooterInfo-item:after{
		height:1.22291vw;
	}
	
	.FooterCopy{
		margin-top:18.770833vw;
		font-size:3.2291vw;
	}
}

/*=========================================================
	TopButton
=========================================================*/
.TopButton{
	width:48px;
	height:48px;
	position:fixed;
	bottom:20px;
	right:20px;
	transition-property:opacity, visibility;
	transition-duration: 0.2s;
	z-index:100;
	opacity:0;
	visibility:hidden;
}

.home .TopButton{
	display:none;
}

.TopButton-text{
	font-size:20px;
	line-height:1.2em;
	color:#000;
	font-weight:500;
	display:block;
	text-align:center;
	padding-top:12px;
	position:absolute;
	top:50%;
	left:0;
	right:0;
	transform:translateY(-50%);
}

.TopButton-text:after{
	content:"";
	width:11px;
	height:5px;
	/* background-image:url(../../images/icon/ico_top_arrow.svg); */
	background-size:11px 5px;
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
}

.TopButton.is-Open{
	opacity:1;
	visibility:visible;
}

.TopButton.is-Stop{
	position:absolute;
	bottom:auto;
	top:-62px;
	right:20px;
}

/*Responsive*/
@media screen and (max-width: 1920px) and (min-width: 1025px) {
	.TopButton{
		width:2.5vw;
		height:2.5vw;
		bottom:1.04166vw;
		right:1.04166vw;
	}

	.TopButton-text{
		font-size:1.04166vw;
		padding-top:0.625vw;
	}

	.TopButton-text:after{
		width:0.5729vw;
		height:0.2604vw;
		background-size:0.5729vw 0.2604vw;
	}

	.TopButton.is-Stop{
		top:-3.22916vw;
		right:1.04166vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.TopButton{
		width:5.2307vw;
		height:5.2307vw;
		bottom:1.5384vw;
		right:1.5384vw;
	}
	
	.TopButton-text{
		font-size:2.04166vw;
		padding-top:1.225vw;
	}

	.TopButton-text:after{
		width:1.0729vw;
		height:0.5204vw;
		background-size:1.0729vw 0.5204vw;
	}
	
	.TopButton.is-Stop{
		top:-6.30769vw;
		right:1.5384vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.TopButton{
		width:10.2307vw;
		height:10.2307vw;
		bottom:3.5384vw;
		right:3.5384vw;
	}
	
	.TopButton-text{
		font-size:4.04166vw;
		padding-top:2.425vw;
	}

	.TopButton-text:after{
		width:2.0729vw;
		height:1.0204vw;
		background-size:2.0729vw 1.0204vw;
	}

	.TopButton.is-Stop{
		top:-13.30769vw;
		right:3.5384vw;
	}
}

/* ============================================================
   PopUp:Top Banner
==============================================================*/
body .pum-overlay-disabled{
	background-color:transparent;
}

body .pum-overlay-disabled .pum-container{
	margin-bottom:0;
	box-shadow:none;
	background-color:#fff;
	padding:21px 0px;
	border:solid 2px #000;
}

body .pum-overlay-disabled .pum-container .pum-title{
	color:#000;
	font-size:22px;
	line-height:1.4em;
	font-weight:bold;
	max-width: 1280px;
	padding:0 40px;
	margin:0 auto 7px;
}

body .pum-overlay-disabled .pum-container .pum-content{
	max-width: 1280px;
	padding:0 40px;
	color:#000;
	font-size:16px;
	line-height:1.7em;
	margin:0 auto;
}

body .pum-overlay-disabled .pum-container .pum-content p:last-child{
	margin-bottom:0;
}

body .pum-overlay-disabled .pum-container .pum-close{
	width:20px;
	height:20px;
	/* background-image:url(../../images/icon/ico_popup_close.svg); */
	background-size:20px 20px;
	background-color:transparent;
	text-indent:-99999px;
	display:block;
	top:24px;
	right:24px;
	padding:0;
	min-width:0 !important;
	box-shadow:none !important;
	border:none !important;
}

.pum-overlay.pum-overlay-disabled[data-popmake*="center top"] .pum-container{
	border:none !important;
	border-bottom:solid 2px #000 !important;
}

@media screen and (max-width: 782px) and (min-width: 768px){
	.admin-bar .pum-overlay.pum-overlay-disabled[data-popmake*="center top"] .pum-container{
		padding:calc(2.6153vw + 16px) 0px 2.6153vw;
	}
	
	.admin-bar .pum-overlay.pum-overlay-disabled[data-popmake*="center top"] .pum-container .pum-close{
		top:calc(1.8461vw + 16px) !important;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px){
	.admin-bar .pum-overlay.pum-overlay-disabled[data-popmake*="center top"] .pum-container{
		padding:calc(6.25vw + 16px) 0px 6.25vw;
	}
	
	.admin-bar .pum-overlay.pum-overlay-disabled[data-popmake*="center top"] .pum-container .pum-close{
		top:calc(3.8461vw + 16px) !important;
	}
}



/* PopUp Post
=========================================================*/
body .pum-overlay-disabled .pum-container .pum-content .size-full{height: auto !important;}
body .pum-overlay-disabled .pum-container .pum-content .alignleft{float: left;}
body .pum-overlay-disabled .pum-container .pum-content .alignright{float: right;}
body .pum-overlay-disabled .pum-container .pum-content .aligncenter{display: block; margin:0 auto;}
body .pum-overlay-disabled .pum-container .pum-content figure.wp-caption{width:100% !important;}
body .pum-overlay-disabled .pum-container .pum-content iframe{width:100% !important;}
body .pum-overlay-disabled .pum-container .pum-content p{margin-bottom:20px; color:#000;}
body .pum-overlay-disabled .pum-container .pum-content p img{height: auto !important;}
body .pum-overlay-disabled .pum-container .pum-content a{color:#000;}
body .pum-overlay-disabled .pum-container .pum-content a:hover{text-decoration: underline; }
body .pum-overlay-disabled .pum-container .pum-content h1{font-size: 24px;}
body .pum-overlay-disabled .pum-container .pum-content h2{font-size: 20px;}
body .pum-overlay-disabled .pum-container .pum-content h3{font-size: 16px;}
body .pum-overlay-disabled .pum-container .pum-content h4{font-size: 15px;}
body .pum-overlay-disabled .pum-container .pum-content h5{font-size: 14px;}
body .pum-overlay-disabled .pum-container .pum-content h6{font-size: 12px;}
body .pum-overlay-disabled .pum-container .pum-content h1,body .pum-overlay-disabled .pum-container .pum-content h2,body .pum-overlay-disabled .pum-container .pum-content h3,body .pum-overlay-disabled .pum-container .pum-content h4,body .pum-overlay-disabled .pum-container .pum-content h5,body .pum-overlay-disabled .pum-container .pum-content h6 {margin-bottom: 15px;color:#000;}
body .pum-overlay-disabled .pum-container .pum-content figure{margin-bottom: 20px;}
body .pum-overlay-disabled .pum-container .pum-content ul{margin-bottom: 20px; color:#000; text-align:left;}
body .pum-overlay-disabled .pum-container .pum-content ol{margin-bottom: 20px;color:#000;}
body .pum-overlay-disabled .pum-container .pum-content li{margin-top:5px;}
body .pum-overlay-disabled .pum-container .pum-content li:first-child{margin-top:0;}
body .pum-overlay-disabled .pum-container .pum-content img{max-width: 100%;}
body .pum-overlay-disabled .pum-container .pum-content figcaption.wp-caption-text{color:#000; font-weight:normal; text-align: center; font-size: .75rem; }
body .pum-overlay-disabled .pum-container .pum-content ul li{padding-left:1.1em;position: relative;}
body .pum-overlay-disabled .pum-container .pum-content ul li:before{content: "∙";position: absolute; top:0; left:0;color:#000;}
body .pum-overlay-disabled .pum-container .pum-content ol li{padding-left:1.1em;position: relative;}
body .pum-overlay-disabled .pum-container .pum-content ol li:nth-child(1):before{content: "1.";position: absolute; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content ol li:nth-child(2):before{content: "2.";position: absolute; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content ol li:nth-child(3):before{content: "3.";position: absolute; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content ol li:nth-child(4):before{content: "4.";position: absolute; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content ol li:nth-child(5):before{content: "5.";position: absolute; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content ol li:nth-child(6):before{content: "6.";position: absolute; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content ol li:nth-child(7):before{content: "7.";position: absolute; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content ol li:nth-child(8):before{content: "8.";position: absolute; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content ol li:nth-child(9):before{content: "9.";position: absolute; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content blockquote{color:#000;padding-left:16px;position: relative;}
body .pum-overlay-disabled .pum-container .pum-content blockquote:before{content: ""; width:3px; height: 100%; position: absolute; background: #000; top:0; left:0;}
body .pum-overlay-disabled .pum-container .pum-content table{width:100%;margin-bottom:20px;border-top:solid 2px #fff;border-collapse:collapse;}
body .pum-overlay-disabled .pum-container .pum-content table thead th{text-align: center;}
body .pum-overlay-disabled .pum-container .pum-content table tbody th{text-align: center;}
body .pum-overlay-disabled .pum-container .pum-content table caption{display: none;}
body .pum-overlay-disabled .pum-container .pum-content table *{margin:0;}
body .pum-overlay-disabled .pum-container .pum-content table thead th{color:#000;font-size: 1.1em;font-weight: bold;text-align: center;line-height: 1.4em;}
body .pum-overlay-disabled .pum-container .pum-content table th,body .pum-overlay-disabled .pum-container .pum-content table td{vertical-align: middle;border:solid 1px #000;padding:12px 5px;text-align: center;}
body .pum-overlay-disabled .pum-container .pum-content iframe{max-width: 100% !important;}
body .pum-overlay-disabled .pum-container .pum-content span[id*="more-"]{border-bottom:dashed 2px #000;display: block;}


@media screen and (max-width:1300px) and (min-width:1025px){

	body .pum-overlay-disabled .pum-container .pum-content h1, body .pum-overlay-disabled .pum-container .pum-content h2, body .pum-overlay-disabled .pum-container .pum-content h3, body .pum-overlay-disabled .pum-container .pum-content h4, body .pum-overlay-disabled .pum-container .pum-content h5, body .pum-overlay-disabled .pum-container .pum-content h6{
		margin-bottom:1.154vw;
	}
	body .pum-overlay-disabled .pum-container .pum-content h1{font-size: 1.85vw;}
	body .pum-overlay-disabled .pum-container .pum-content h2{font-size: 1.54vw;}
	body .pum-overlay-disabled .pum-container .pum-content h3{font-size: 1.240vw;}
	body .pum-overlay-disabled .pum-container .pum-content h4{font-size: 1.154vw;}
	body .pum-overlay-disabled .pum-container .pum-content h5{font-size: 1.08vw;}
	body .pum-overlay-disabled .pum-container .pum-content h6{font-size: 0.924vw;}
	body .pum-overlay-disabled .pum-container .pum-content p{
		margin-bottom:1.538vw;
	}
	body .pum-overlay-disabled .pum-container .pum-content blockquote{
		padding-left:1.231vw;
	}
}
@media screen and (max-width:1024px) and (min-width:768px){
	body .pum-overlay-disabled .pum-container .pum-content h1, body .pum-overlay-disabled .pum-container .pum-content h2, body .pum-overlay-disabled .pum-container .pum-content h3, body .pum-overlay-disabled .pum-container .pum-content h4, body .pum-overlay-disabled .pum-container .pum-content h5, body .pum-overlay-disabled .pum-container .pum-content h6{
		margin-bottom:1.465vw;
	}
	body .pum-overlay-disabled .pum-container .pum-content h1{font-size: 2.625vw;}
	body .pum-overlay-disabled .pum-container .pum-content h2{font-size: 2.35vw;}
	body .pum-overlay-disabled .pum-container .pum-content h3{font-size: 2.1vw;}
	body .pum-overlay-disabled .pum-container .pum-content h4{font-size: 1.96vw;}
	body .pum-overlay-disabled .pum-container .pum-content h5{font-size: 1.825vw;}
	body .pum-overlay-disabled .pum-container .pum-content h6{font-size: 1.72vw;}
	body .pum-overlay-disabled .pum-container .pum-content p{
		margin-bottom:1.953vw;
	}
	body .pum-overlay-disabled .pum-container .pum-content blockquote{
		padding-left:1.5625vw;
	}
}
@media screen and (max-width:767px) and (min-width:1px){
	body .pum-overlay-disabled .pum-container .pum-content h1, body .pum-overlay-disabled .pum-container .pum-content h2, body .pum-overlay-disabled .pum-container .pum-content h3, body .pum-overlay-disabled .pum-container .pum-content h4, body .pum-overlay-disabled .pum-container .pum-content h5, body .pum-overlay-disabled .pum-container .pum-content h6{
		margin-bottom:3.96vw;
	}
	body .pum-overlay-disabled .pum-container .pum-content h1{font-size: 5vw;}
	body .pum-overlay-disabled .pum-container .pum-content h2{font-size: 4.7vw;}
	body .pum-overlay-disabled .pum-container .pum-content h3{font-size: 4.375vw;}
	body .pum-overlay-disabled .pum-container .pum-content h4{font-size: 4vw;}
	body .pum-overlay-disabled .pum-container .pum-content h5{font-size: 3.78vw;}
	body .pum-overlay-disabled .pum-container .pum-content h6{font-size: 3.5vw;}
	body .pum-overlay-disabled .pum-container .pum-content p{
		margin-bottom:4.607vw;
	}
	body .pum-overlay-disabled .pum-container .pum-content blockquote{
		padding-left:2.086vw;
	}
}

/*Responsive*/
@media screen and (max-width: 1300px) and (min-width: 1025px) {
	body .pum-overlay-disabled .pum-container{
		padding:1.6153vw 0px;
	}

	body .pum-overlay-disabled .pum-container .pum-title{
		font-size:1.6923vw;
		padding:0 3.0769vw;
		margin:0 auto 0.5384vw;
		padding-right:5vw;
	}

	body .pum-overlay-disabled .pum-container .pum-content{
		padding:0 3.0769vw;
		font-size:1.2307vw;
	}

	body .pum-overlay-disabled .pum-container .pum-close{
		width:1.53846vw;
		height:1.53846vw;
		background-size:1.53846vw 1.53846vw;
		top:1.8461vw;
		right:1.8461vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	body .pum-overlay-disabled .pum-container{
		padding:2.6153vw 0px;
	}

	body .pum-overlay-disabled .pum-container .pum-title{
		font-size:2.6923vw;
		padding:0 3.0769vw;
		margin:0 auto 0.7384vw;
		padding-right:7vw;
	}

	body .pum-overlay-disabled .pum-container .pum-content{
		padding:0 3.0769vw;
		font-size:1.6307vw;
	}

	body .pum-overlay-disabled .pum-container .pum-close{
		width:2.53846vw;
		height:2.53846vw;
		background-size:2.53846vw 2.53846vw;
		top:1.8461vw;
		right:1.8461vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	body .pum-overlay-disabled .pum-container{
		padding:6.25vw 0px;
	}

	body .pum-overlay-disabled .pum-container .pum-title{
		font-size:4.6923vw;
		padding:0 6.25vw;
		margin:0 auto 2.4384vw;
		padding-right:13vw;
	}

	body .pum-overlay-disabled .pum-container .pum-content{
		padding:0 6.25vw;
		font-size:3.4307vw;
	}

	body .pum-overlay-disabled .pum-container .pum-close{
		width:6.53846vw;
		height:6.53846vw;
		background-size:6.53846vw 6.53846vw;
		top:3.8461vw;
		right:3.8461vw;
	}
}

/* ============================================================
   PopUp:Center Banner
==============================================================*/
body .pum-overlay:not(.pum-overlay-disabled){
	background-color:rgba(0,0,0,0.64);
}

body .pum-overlay:not(.pum-overlay-disabled) .pum-container{
	padding:40px 40px;
}

body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-title{
	font-size:24px;
	line-height:1.4em;
	color:#000;
	font-weight:bold;
	margin-bottom:15px;
	padding-right:50px;
}

body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content{
	color:#000;
	font-size:16px;
	line-height:1.7em;
}

body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content p:last-child{
	margin-bottom:0;
}

body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-close{
	width:20px;
	height:20px;
	/* background-image:url(../../images/icon/ico_popup_close.svg); */
	background-size:20px 20px;
	background-color:transparent;
	text-indent:-99999px;
	display:block;
	top:24px;
	right:24px;
	padding:0;
	box-shadow:none;
}

/*=========================================================
PopUp:Center Banner Post
=========================================================*/
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content .size-full{height: auto !important;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content .alignleft{float: left;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content .alignright{float: right;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content .aligncenter{display: block; margin:0 auto;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content figure.wp-caption{width:100% !important;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content iframe{width:100% !important;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content p{margin-bottom:20px; color:#000;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content p img{height: auto !important;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content a{color:#000;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content a:hover{text-decoration: underline; }
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h1{font-size: 24px;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h2{font-size: 20px;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h3{font-size: 16px;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h4{font-size: 15px;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h5{font-size: 14px;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h6{font-size: 12px;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h1,body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h2,body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h3,body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h4,body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h5,body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h6 {margin-bottom: 15px;color:#000;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content figure{margin-bottom: 20px;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ul{margin-bottom: 20px; color:#000; text-align:left;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol{margin-bottom: 20px;color:#000;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content li{margin-top:5px;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content li:first-child{margin-top:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content img{max-width: 100%;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content figcaption.wp-caption-text{color:#000; font-weight:normal; text-align: center; font-size: .75rem; }
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ul li{padding-left:1.1em;position: relative;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ul li:before{content: "∙";position: absolute; top:0; left:0;color:#000;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li{padding-left:1.1em;position: relative;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li:nth-child(1):before{content: "1.";position: absolute; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li:nth-child(2):before{content: "2.";position: absolute; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li:nth-child(3):before{content: "3.";position: absolute; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li:nth-child(4):before{content: "4.";position: absolute; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li:nth-child(5):before{content: "5.";position: absolute; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li:nth-child(6):before{content: "6.";position: absolute; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li:nth-child(7):before{content: "7.";position: absolute; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li:nth-child(8):before{content: "8.";position: absolute; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content ol li:nth-child(9):before{content: "9.";position: absolute; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content blockquote{color:#000;padding-left:16px;position: relative;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content blockquote:before{content: ""; width:3px; height: 100%; position: absolute; background: #000; top:0; left:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content table{width:100%;margin-bottom:20px;border-top:solid 2px #000;border-collapse:collapse;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content table thead th{text-align: center;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content table tbody th{text-align: center;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content table caption{display: none;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content table *{margin:0;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content table thead th{color:#000;font-size: 1.1em;font-weight: bold;text-align: center;line-height: 1.4em;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content table th,body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content table td{vertical-align: middle;border:solid 1px #ccd0d7;padding:12px 5px;text-align: center;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content iframe{max-width: 100% !important;}
body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content span[id*="more-"]{border-bottom:dashed 2px #ccd0d7;display: block;}


@media screen and (max-width:1300px) and (min-width:1025px){

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h1, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h2, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h3, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h4, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h5, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h6{
		margin-bottom:1.154vw;
	}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h1{font-size: 1.85vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h2{font-size: 1.54vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h3{font-size: 1.240vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h4{font-size: 1.154vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h5{font-size: 1.08vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h6{font-size: 0.924vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content p{
		margin-bottom:1.538vw;
	}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content blockquote{
		padding-left:1.231vw;
	}
}
@media screen and (max-width:1024px) and (min-width:768px){
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h1, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h2, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h3, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h4, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h5, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h6{
		margin-bottom:1.465vw;
	}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h1{font-size: 2.625vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h2{font-size: 2.35vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h3{font-size: 2.1vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h4{font-size: 1.96vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h5{font-size: 1.825vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h6{font-size: 1.72vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content p{
		margin-bottom:1.953vw;
	}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content blockquote{
		padding-left:1.5625vw;
	}
}
@media screen and (max-width:767px) and (min-width:1px){
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h1, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h2, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h3, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h4, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h5, body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h6{
		margin-bottom:3.96vw;
	}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h1{font-size: 5vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h2{font-size: 4.7vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h3{font-size: 4.375vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h4{font-size: 4vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h5{font-size: 3.78vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content h6{font-size: 3.5vw;}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content p{
		margin-bottom:4.607vw;
	}
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content blockquote{
		padding-left:2.086vw;
	}
}

/*Responsive*/
@media screen and (max-width: 1300px) and (min-width: 1025px) {
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container{
		padding:3.07692vw 3.07692vw;
	}

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-title{
		font-size:1.84615vw;
		margin-bottom:1.15384vw;
		padding-right:3.84615vw;
	}

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content{
		font-size:1.23076vw;
	}

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-close{
		width:1.538vw;
		height:1.538vw;
		background-size:1.538vw 1.538vw;
		top:1.8461vw;
		right:1.8461vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container{
		padding:4.07692vw 3.07692vw;
	}

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-title{
		font-size:2.6923vw;
		margin-bottom:1.15384vw;
		padding-right:3.84615vw;
	}

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content{
		font-size:1.63076vw;
	}

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-close{
		width:2.538vw;
		height:2.538vw;
		background-size:2.538vw 2.538vw;
		top:1.8461vw;
		right:1.8461vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	body .pum-overlay:not(.pum-overlay-disabled) .pum-container{
		padding:6.25vw 6.25vw;
	}

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-title{
		font-size:4.7923vw;
		margin-bottom:3.65384vw;
		padding-right:5.04615vw;
	}

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-content{
		font-size:3.1076vw;
	}

	body .pum-overlay:not(.pum-overlay-disabled) .pum-container .pum-close{
		width:4.538vw;
		height:4.538vw;
		background-size:4.538vw 4.538vw;
		top:4.061vw;
		right:4.061vw;
	}
}

/*=========================================================
	TargetLink
=========================================================*/
.FooterMenu .menu-item.TargetLink a{
    position: relative;
	padding-right:24px;
}

.FooterMenu .menu-item.TargetLink a:before{    
	content: '';
    width: 14px;
    height: 15px;
	margin-top:-2px;
    /* background-image: url(../../images/icon/ico_new_window.svg); */
    background-size: 14px 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/*Responsive*/
@media screen and (max-width: 1920px) and (min-width: 1025px) {
	.FooterMenu .menu-item.TargetLink a{
		padding-right:1.25vw;
	}

	.FooterMenu .menu-item.TargetLink a:before{
		width: 0.72916vw;
		height: 0.78125vw;
		margin-top:-0.10416vw;
		background-size: 0.72916vw 0.78125vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.FooterMenu .menu-item.TargetLink a{
		padding-right:2.34375vw;
	}

	.FooterMenu .menu-item.TargetLink a:before{
		width: 1.3671875vw;
		height: 1.46484375vw;
		margin-top:-0.1953125vw;
		background-size: 1.3671875vw 1.46484375vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.FooterMenu .menu-item.TargetLink a{
		padding-right:5.33vw;
	}

	.FooterMenu .menu-item.TargetLink a:before{
		width: 3.333vw;
		height: 3.85vw;
		margin-top:-0.566vw;
		background-size: 3.333vw 3.85vw;
	}
}

/*=========================================================
	ImgNav
=========================================================*/

.ImgNav img{
	display:block;
	height:42px;
}

/*Responsive*/
@media screen and (max-width: 1920px) and (min-width: 1025px) {
	.ImgNav img{
		height:2.1875vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.ImgNav img{
		height:4.1015625vw;
	}
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.ImgNav{
		position:absolute;
		bottom:8.5vw;
		left:50%;
		transform:translateX(-50%);
	}
		
	.ImgNav a{
		padding-bottom:0 !important;
	}
	
	.ImgNav img{
		height:11.2vw;
	}
}
