
@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* 전체 컨테이너 */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 5%;
    margin-left: 3%;
}

/* 상단 텍스트 */

.text{
    font-family: 'Freesentation-9Black';

    display: flex;
    font-size: 2em;
    width: 95%;
    justify-content: center;
    border-bottom: solid 5px;
    border-color: rgb(255, 190, 140);
    padding-bottom: 3%;
    margin-bottom: 4%;
}

/* 항목 컨테이너 */

.like-box, .dislike-box, .allergy-box{
    display: flex;
    height: 100%;
    flex-direction: row;
}

/* 텍스트박스 */

.like, .dislike, .allergy{
    width: 80%;
    height: 70%;
    margin: 1%;
    padding: 1%;
    border-radius: 20px;
}

/* 왼쪽 텍스트 */
.like-text, .dislike-text, .allergy-text{
    font-family: 'Freesentation-9Black';
    width: 10%;
    font-size: 1.5em;
    margin: 1%;
    text-align: center;
}

/* 테두리색 */

.like:focus, .dislike:focus, .allergy:focus{
    border-color: rgb(255, 188, 17);
    outline: none;
}
