@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mypage {
    font-family: 'Pretendard-Regular', sans-serif;
    padding: 1.25em;
    background-color: #f9f9f9;
    max-width: 85em;
    margin: 0 auto;
    font-weight: normal;
    margin-top: 3em; /* 헤더와 20px 이상의 간격을 추가 */
}

.shared-title-h2 {
    font-family: 'SBAggroB';
    text-align: center;
    margin-bottom: 1.25em;
    color: #685d5d;
    font-size: 1.70rem;
    padding: 0 0.1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

.shared-title1 {
    font-family: 'Pretendard-Regular';
    margin-bottom: 1.25em;
    color: #111111;
    font-size: 1.20rem;
    padding: 0 0.1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
}

.info-section,
.my-uploads {
    margin: 1.25em 0;
    padding: 1em;
    background-color: #e0e0e0;
    border-radius: 0.5em;
}

.my-recipes,
.my-ingredients,
.my-receipts,
.additional-info,
.env-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 1.25em 0;
    background-color: #e0e0e0;
    border-radius: 0.5em;
}

.info-section h2,
.my-uploads h2 {
    font-size: 1.5em;
    margin-bottom: 0.625em;
}

.stats-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25em;
}

.stats-card,
.info-card {
    background-color: #e0e0e0;
    text-align: center;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 17.1875em;
}

.env-score-card {
    background-color: #f9e79f;
    border: 0.125em solid #d4ac0d;
    text-align: center;
}

.mypage-footer {
    text-align: center;
    margin-top: 1.25em;
}

.mypage-footer button {
    padding: 0.625em 1.25em;
    font-size: 1em;
    border: none;
    border-radius: 0.3125em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.mypage-footer button:hover {
    background-color: #0056b3;
}

.info-title h3 {
    font-family: 'SBAggroB';
    text-align: center;
    margin-bottom: 1.25em;
    color: #111111;
    font-size: 1.45rem;
    padding: 0 0.1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

/* 1440px ~ 1920px */
@media screen and (min-width: 85em) and (max-width: 240em) {
    .stats-section {
        justify-content: space-between;
        gap: 2px;
    }
    .stats-card,
    .info-card {
        flex: 1 1 calc(50% - 2px);
        max-width: calc(50% - 2px);
    }
    .info-env-container,
    .additional-recipes-container,
    .ingredients-receipts-container
    {
        display: flex;
        gap: 1em; /* 섹터간 여백 */
        flex-wrap: wrap;
    }
    .info-section,
    .env-section,
    .additional-info,
    .my-recipes,
    .my-ingredients,
    .my-receipts {
        flex: 1;
    }
}

/* 태블릿: 768px 이상 1440px 미만 */
@media screen and (min-width: 48em) and (max-width: 90em) {
    .stats-section {
        justify-content: space-between;
        gap: 2px;
    }
    .stats-card,
    .info-card {
        flex: 1 1 calc(50% - 2px);
        max-width: calc(50% - 2px);
    }
    .info-env-container,
    .additional-recipes-container,
    .ingredients-receipts-container
    {
        display: flex;
        gap: 1em; /* 섹터간 여백 */
        flex-wrap: wrap;
    }
    .info-section,
    .env-section,
    .additional-info,
    .my-recipes,
    .my-ingredients,
    .my-receipts
    {
        flex: 1;
    }
}


/* 모바일: 768px 미만 */
@media screen and (max-width: 47.9375em) {
    .stats-section {
        justify-content: center;
        gap: 1.25em;
    }
    .stats-card,
    .info-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .info-section,
    .env-section {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
