/* 검색창 부분 */
.SearchForm {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em; /* 간격 조정 */
}

.searchBox {
    width: 13.5%;
    border-bottom: 2px solid #1a1919d5;
    padding: 0.3em;
}

.searchBox input {
    border: none;
    outline: none;
}

#searchIcon {
    margin-right: 1em;
    color: #1a1919d5;
}

/* 레이아웃 설정 */
.recipeMain-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0; /* 좌우 여백 제거 */
}

/* ------------ youtube 동영상------------------- */
.youtubeVideo {
    position: relative;
    width: 70%; 
    height: 25em;
    margin-bottom: 2em; /* 검색창과의 간격 조정 */
}

.youtubeVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
